<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
    <style>

    </style>
</head>

<body>
    用户名<input id="userName" type="text">
    密码<input id="password" type="text">
    <button id="btn">登陆</button>
    <script>
        $('#btn').click(function () {
            var userName = $('#userName').val()
            var password = $('#password').val()
            $.ajax({
                type: 'post',
                url: '/user/login',
                data: {
                    username: userName,
                    password: password
                },
                success: function (data) {
                    alert(data.msg)
                    if (data.status === 0) {
                        location.href = 'main.html'
                    }
                }
            })
        })
    </script>
</body>

</html>