<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsl.poiexcel.mapper.StuMapper">
    <select id="getCount" resultType="java.lang.Integer">
        SELECT count(*) FROM student
    </select>

    <select id="getStudentByPage" parameterType="Map" resultType="com.fsl.poiexcel.bean.Student">
        select  * from student limit #{pageIndex},#{pageSize}
    </select>




    <update id="updatebyVer" parameterType="com.fsl.poiexcel.bean.Student">
        update  student
        <trim prefix="set" suffixOverrides=",">
            <if test="stuName!=null">stu_name = #{stuName},</if>
            <if test="stuAge!=null">stu_age = #{stuAge},</if>
            <if test="stuSchoolName!=null">stu_school_name =#{stuSchoolName},</if>
            <if test="stuClassName!=null">stu_class_name=#{stuClassName},</if>
            <if test="ver!=null">ver=#{ver} + 1,</if>
        </trim>
       where id = #{id} and ver = #{ver}
     </update>



</mapper>